@model IEnumerable<CommentOutput>

@if (!Model.Any())
{
    <p class="text-muted">No comments yet.</p>
}
else
{
    @foreach (var comment in Model)
    {
        <div class="border p-3 mb-3 rounded shadow-sm bg-light">
            <div class="d-flex justify-content-between">
                <strong>@comment.UserName</strong>
                <small class="text-muted">@comment.TimeCreation.ToString("yyyy-MM-dd ")</small>
            </div>
            <p class="mt-2">@comment.Note</p>
        </div>
    }
}

