@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    @await RenderSectionAsync("Styles", required: false)
}

<div class="container-fluid" dir="ltr">
    <div class="row">
        <div class="col-sm-2 p-0 m-0">
            <partial name="_Sidebar">
        </div>
        <div class="col-sm-8 mx-5" dir="ltr">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
