@page
@model BookShop2.Web.Pages.Shop.IndexModel
@{
    ViewData["Title"] = "Shop";
}


<div class="container mt-4">
    <form method="post" class="d-flex justify-content-center">
        <input asp-for="Term" class="form-control me-2" placeholder="Search for books" style="max-width: 300px;">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


<div class="container mt-4">
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <partial name="_ShopBookItem" model="book" />
        }

    </div>
</div>