@page
@model BookShop2.Web.Areas.Admin.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create Book";
}

<div class="container mt-5">
    <h2 class="text-primary">Create a New Book</h2>
    <form method="post" class="mt-4" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Book.CoverImage" class="form-label">Image</label>
            <input asp-for="Book.CoverImage" class="form-control" />
            <span asp-validation-for="Book.CoverImage" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.Name" class="form-label">Name</label>
            <input asp-for="Book.Name" class="form-control" />
            <span asp-validation-for="Book.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Book.Description" class="form-label">Description</label>
            <textarea asp-for="Book.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Book.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Book.Author" class="form-label">Author</label>
            <input asp-for="Book.Author" class="form-control" />
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Book.Date" class="form-label">Date</label>
            <input asp-for="Book.Date" class="form-control" type="date" />
            <span asp-validation-for="Book.Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.Language" class="form-label">Language</label>
            <select asp-for="Book.Language" asp-items="@(Html.GetEnumSelectList<BookShop2.Infrastructure.DataModels.Language>())" class="form-control">
                <option value="" disabled selected>Select a Language</option>
            </select>
            <span asp-validation-for="Book.Language" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.CategoryId" class="form-label">Category</label>
            <select asp-for="Book.CategoryId" asp-items="@Model.SelectListCategory" class="form-control">
                <option value="" disabled selected>Select a Category</option>
            </select>
            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Book.Price" class="form-label">Price</label>
            <input asp-for="Book.Price" class="form-control" type="number" min="0" />
            <span asp-validation-for="Book.Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Book.Pages" class="form-label">Pages</label>
            <input asp-for="Book.Pages" class="form-control" type="number" min="1" />
            <span asp-validation-for="Book.Pages" class="text-danger"></span>
        </div>

        <button type="submit"  class="btn btn-primary">Create Book</button>
        <a asp-page="/Books/Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
